<!DOCTYPE html>
<b *ngIf="to.label">{{ to.label }}</b>

<mat-tree
  [dataSource]="dataSource"
  [treeControl]="treeControl"
  [tabIndex]="to.tabindex"
  [formlyAttributes]="field"
  [formGroup]="form"
>
  >
  <!-- [formControl]="formControl" -->
  <!-- This is the tree node template for leaf nodes -->
  <!-- There is inline padding applied to this node using styles.
        This padding value depends on the mat-icon-button width. -->
  <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
    <mat-checkbox
      [checked]="isChecked(node)"
      (change)="onChange(node, $event.checked)"
      [color]="to.color"
      [labelPosition]="to.labelPosition"
      [disabled]="formControl.disabled"
      >{{ node.title }}</mat-checkbox
    >
  </mat-tree-node>
  <!-- This is the tree node template for expandable nodes -->
  <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChildren">
    <div class="mat-tree-node">
      <button
        mat-icon-button
        matTreeNodeToggle
        [attr.aria-label]="'Toggle ' + node.title"
      >
        <mat-icon class="mat-icon-rtl-mirror">
          {{ treeControl.isExpanded(node) ? "expand_more" : "chevron_right" }}
        </mat-icon>
      </button>

      <mat-checkbox
        [checked]="isChecked(node)"
        (change)="onChange(node, $event.checked)"
        [color]="to.color"
        [labelPosition]="to.labelPosition"
        [disabled]="formControl.disabled"
        >{{ node.title }}</mat-checkbox
      >
    </div>
    <!-- There is inline padding applied to this div using styles.
            This padding value depends on the mat-icon-button width.  -->
    <div [class.invisible]="!treeControl.isExpanded(node)" role="group">
      <ng-container matTreeNodeOutlet></ng-container>
    </div>
  </mat-nested-tree-node>
</mat-tree>
