<mat-toolbar color="primary">
  <a href="/" class="logo">
    <img
      width="50"
      height="50"
      alt="{{ meta?.name }} Logo"
      src="/assets/icons/icon-72x72.png"
    />
    <span [matTooltip]="meta.description || ''">{{ meta.name }}</span>
  </a>

  <ng-container *ngFor="let item of toolbar">
    <!-- allow the end user to customize the toolbar from config -->
    <!-- todo: <{{item.tag}}> </{{item.tag}}> -->
    <!-- todo: [ngClass]="... || null" -->
    <!-- todo: fix routerLink (instead of href) doesn't work 
         https://stackoverflow.com/a/61588147/12577650    
    -->

    <a
      *ngIf="item.tag === 'a'"
      href="{{ item.link }}"
      [ngClass]="item.class || ''"
      id="{{ item.id || null }}"
      (click)="(item.click || null)"
      >{{ item.content }}</a
    >

    <button
      *ngIf="item.tag === 'button'"
      (click)="(item.click || null)"
      [ngClass]="item.class || ''"
      id="{{ item.id || null }}"
    >
      {{ item.content }}
    </button>

    <div
      *ngIf="item.tag === 'div'"
      [ngClass]="item.class || ''"
      id="{{ item.id || null }}"
      (click)="(item.click || null)"
    >
      {{ item.content }}
    </div>
  </ng-container>
</mat-toolbar>

<div class="page" role="main">
  <router-outlet></router-outlet>
</div>
