mat-toolbar {
  position: fixed;
  z-index: 100;
}

mat-toolbar .logo {
  padding: 0 10px;
  background-color: black;
  border-radius: 7px;
}

mat-toolbar .logo:hover {
  border: solid thin brown;
  color: red;
}

mat-toolbar .logo img:hover {
  opacity: 0.9;
}

mat-toolbar .logo span {
  /*make the text beside the img, but go beneath it @(max-width: 395px)*/
  display: inline-block;
  margin-left: 5px;
}

mat-toolbar a,
footer a {
  text-decoration: none;
  color: white;
  margin: 10px;
}

mat-toolbar .spacer {
  flex: 0.95;
}

@media (max-width: 550px) {
  mat-toolbar {
    font-size: smaller;
  }

  mat-toolbar.logo {
    padding: 0 5px;
  }

  mat-toolbar a {
    margin: 5px;
  }
}

@media (max-width: 304px) {
  mat-toolbar .logo {
    background-color: unset;
  }
  mat-toolbar .logo span {
    display: none;
  }
}

.page {
  padding-top: 70px;
}

footer {
  position: fixed;
  bottom: 0;
  padding: 10px 10px 0px 10px;
  width: 100%;
  height: 40px;
  background: grey;
}
