<mat-horizontal-stepper #formlyStepper>
  <mat-step
    *ngFor="let step of field.fieldGroup; let index = index; let last = last"
    [label]="step.templateOptions!.label || ''"
  >
    <formly-field [field]="step"></formly-field>
    <div>
      <ng-container *ngIf="to.buttonsTemplate">
        <ng-container
          *ngTemplateOutlet="
            to.buttonsTemplate;
            context: { stepper: formlyStepper, step: step, last: last }
          "
        ></ng-container>
      </ng-container>
    </div>
  </mat-step>
</mat-horizontal-stepper>
