<mat-horizontal-stepper #formlyStepper>
  <mat-step
    *ngFor="let step of field.fieldGroup; let index = index; let last = last"
    [label]="step.templateOptions!.label || ''"
  >
    <formly-field [field]="step"></formly-field>
    <div>
      <button
        matStepperPrevious
        mat-raised-button
        color="primary"
        [disabled]="index === 0"
        type="button"
      >
        <mat-icon>arrow_left</mat-icon> Previous
      </button>

      <button
        matStepperNext
        mat-raised-button
        color="primary"
        type="button"
        [disabled]="!isValid(step) || last"
      >
        Next <mat-icon>arrow_right</mat-icon>
      </button>
      <button
        mat-raised-button
        color="primary"
        [disabled]="!form.valid || !last"
        type="submit"
      >
        <mat-icon>done</mat-icon> Submit
      </button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
