<ng-container *ngIf="params?.type">
  <h1>
    <!--todo: create or edit -->
    <!-- if( form.model.data or this.data )edit -->
    create a new {{ params.postType }}
  </h1>

  <div
    *ngIf="response"
    class="alert"
    [ngClass]="
      response.class ||
      'alert-' +
        (response.status === 'loading' ? 'warning' : response.status) ||
      ''
    "
    [innerHTML]="response.message"
  ></div>

  <form
    #formElement
    [formGroup]="formGroup"
    method="post"
    enctype="multipart/form-data"
  >
    <formly-form [form]="formGroup" [fields]="fields" [model]="model">
    </formly-form>

    <!-- use last or stepper.selectedIndex===stepper.steps.length-1 -->
    <ng-template #buttons let-stepper="stepper" let-step="step" let-last="last">
      <button
        mat-raised-button
        color="primary"
        [disabled]="
          stepper.selectedIndex === 0 || response.status === 'loading'
        "
        type="button"
        (click)="move('previous', stepper)"
      >
        <mat-icon>arrow_left</mat-icon> Previous
      </button>

      <button
        mat-raised-button
        color="primary"
        type="button"
        [disabled]="!isValid(step) || last || response.status === 'loading'"
        (click)="move('next', stepper)"
      >
        Next <mat-icon>arrow_right</mat-icon>
      </button>

      <!--
                using (ngSubmit)="onSubmit(..)" causes the form to show errors after submitting
                so we replaced it with (click)="onSubmit(..)", and  type="submit" with type="button"
                https://stackoverflow.com/a/51003685/12577650 
            -->
      <button
        mat-raised-button
        color="primary"
        [disabled]="
          !last ||
          !formGroup.valid ||
          formGroup.pristine ||
          response.status === 'loading'
        "
        (click)="onSubmit(stepper)"
      >
        <mat-icon>done</mat-icon> Submit
      </button>
    </ng-template>
  </form>

  <!--  todo: replace with <mat-spinner> see packages/ngx-view-content-mat/view.html
        <ngx-loading [show]="!fields || response?.status === 'loading'"></ngx-loading>
    -->
</ng-container>
