<!-- tags are set in ngOnChanges lifecycle, no need to add in *ngIf -->
<ngx-content-view
  *ngIf="data"
  [data]="data"
  [options]="options"
  [meta]="tags"
  (onScrollDown)="loadMore()"
>
  <share-buttons
    actions
    *ngIf="params.item"
    show="10"
    showText="true"
    theme="modern-dark"
    [include]="[
      'facebook',
      'twitter',
      'linkedin',
      'pinterest',
      'whatsapp',
      'telegram',
      'messenger',
      'reddit',
      'sms',
      'copy'
    ]"
    gaTracking="true"
  ></share-buttons>

  <ng-container
    *ngIf="itemCategories && itemCategories.length > 0"
    after-content
  >
    <hr />
    <h2><mat-icon>volunteer_activism</mat-icon> Selected for you</h2>
    <!-- todo: tooltip=category.description -->
    <div *ngFor="let category of itemCategories">
      <mat-icon>thumb_up</mat-icon>&nbsp;
      <a href="{{ category.link || '#' }}">{{ category.title }}</a
      >&nbsp;&nbsp;
      <!-- todo: implement this button-->
      <!-- save following[category.ids] in localStorage-->
      <!-- todo: tooltip = get a notification when a new article in this category-->
      <button mat-icon-button color="primary" (click)="follow()">
        <mat-icon>notifications</mat-icon>follow
      </button>
    </div>
    <hr />
  </ng-container>
  itemCategories= {{ itemCategories | json }}
</ngx-content-view>

<ngx-content-view
  *ngIf="moreData && moreData.length > 0 && options"
  [data]="moreData"
  [options]="options"
  (onScrollDown)="loadMore()"
></ngx-content-view>

<mat-spinner
  *ngIf="!data"
  strokeWidth="10"
  diameter="200"
  style="margin: auto"
></mat-spinner>

<button
  mat-mini-fab
  color="primary"
  routerLink="/{{ params.type }}/editor/{{ params.item }}"
  matTooltip="{{ params.item ? 'edit' : 'add a new ' + params.postType }}"
  class="floating"
>
  <mat-icon>add</mat-icon>
</button>
