<ng-container *ngIf="params.category && params.category.title">
  <!-- todo: tooltip=category.description -->
  <h1>
    <a href="{{ params.category.link || '#' }}">{{ params.category.title }}</a>
  </h1>
  <!-- todo: implement this button-->
  <!-- save following[category.ids] in localStorage-->
  <!-- todo: tooltip = get a notification when a new article in this category-->
  <button mat-raised-button color="primary" (click)="follow()">
    <mat-icon>notifications</mat-icon>follow
  </button>
</ng-container>
<button
  *ngIf="params"
  mat-mini-fab
  color="primary"
  routerLink="/{{ params.type }}/editor"
  matTooltip="{{ 'add a new ' + params.postType }}"
  class="floating"
>
  <mat-icon>add</mat-icon>
</button>

<!-- tags are set in ngOnChanges lifecycle, no need to add in *ngIf -->
<ngx-content-view
  *ngIf="data && options"
  [data]="data"
  [options]="options"
  [meta]="tags"
  (onScrollDown)="loadMore()"
></ngx-content-view>

<ngx-content-view
  *ngIf="moreData && moreData.length > 0 && options"
  [data]="moreData"
  [options]="options"
  [meta]="tags"
  (onScrollDown)="loadMore()"
></ngx-content-view>
